#video-container {
    width: 70vw;
}

#media-bottom {
    display: flex;
    justify-content: space-between;
}

#video-seek-rail {
    width: 100%;
    height: 5px;
    background-color: red;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

#video-seek-fill {
    height: 100%;
    background-color: blue;
    border-radius: 4px;
    width: 20px;
    cursor: pointer;
}

button {
    background-color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}